/*
:root {
	--magnolia-slideshow-delay: 5s;
	--magnolia-slideshow-transition: 1.5s;
	--magnolia-slideshow-scale: 1.1;
}
*/

.magnolia-slideshow {
	display: block;
	position: relative;
	overflow: hidden;
}

.magnolia-slideshow > .background {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.magnolia-slideshow .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	background-position: center;
}

.magnolia-slideshow .slide > video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	transform: translateX( -50% ) translateY( -50% ) translateZ( 0 );
	object-fit: cover;
	object-position: center;

	z-index: 1;
}

.magnolia-slideshow .slide > picture > img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	transform: translateX( -50% ) translateY( -50% ) translateZ( 0 );
}

/* Remove iOS, Android play button */
.magnolia-slideshow video::-webkit-media-controls,
.magnolia-slideshow video::-webkit-media-controls-panel,
.magnolia-slideshow video::-webkit-media-controls-play-button,
.magnolia-slideshow video::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}