/*
:root {
	--magnolia-slideshow-delay: 5s;
	--magnolia-slideshow-transition: 1.5s;
	--magnolia-slideshow-scale: 1.1;
}
*/

magnolia-slideshow {
	display: block;
	position: relative;
	overflow: hidden;
	transform: translateZ( 0 );
}

magnolia-slideshow > .background {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

magnolia-slideshow .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateZ( 0 );
}

magnolia-slideshow .slide > picture,
magnolia-slideshow .slide > picture > img,
magnolia-slideshow .slide > video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

magnolia-slideshow .slide > video {
	z-index: 1;
}

/* Remove iOS, Android play button */
magnolia-slideshow video::-webkit-media-controls,
magnolia-slideshow video::-webkit-media-controls-panel,
magnolia-slideshow video::-webkit-media-controls-play-button,
magnolia-slideshow video::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}